<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1> These are the football teams</h1>
      <table style="width:300px">
        <tr>
          <td>Team</td>
          <td>Wins</td>
          <td>Losses</td>
          <td>Winning pct</td>
        </tr>
        <% @standings.each do |team_name, stats| %>
        <tr>
          <td><a href="teams/<%= team_name%>"><%= team_name%></a></td>
          <td><%= stats[:wins]%></td>
          <td><%= stats[:losses]%></td>
          <td><%= sprintf("%.3f", (stats[:wins].to_f / (stats[:wins] + stats[:losses])))%></td>
        </tr>
      <%end%>
    </table>
  </body>
</html>
