<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1> The <%= @this_team%></h1>
      <table>
        <tr> <td>Wins</td> <td>Losses</td></tr>
        <tr> <td><%= @team_record[:wins]%></td> <td><%= @team_record[:losses]%></td></tr></table>
      <ul><%@team_history.each do |game|%>
        <li><%= game[:location]%> <%=game[:opponent]%> <%= game[:result]%> <%= game[:score1]%> <%= game[:score2]%></li>
        <%end%>
        </ul>
  </body>
</html>
